html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'HSSummer';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSSummer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background: linear-gradient(#977CE2, #B6A5E7, transparent);
    padding-bottom: 4rem;
    padding: 0.5rem;
    position: absolute;
    height: 7rem;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'HSSummer';
    color: white;
    font-size: 2.5rem;
}

.subtitle {
    font-family: 'HSSummer';
    color: white;
    font-size: 1.4rem;
    padding-top: 0.2rem;
}

.menu {
    color: white;
    padding-left: 1em;
    font-family: 'LeferiPoint-WhiteObliqueA';
}

.bubble-left {
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.bubble-right {
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}